# IDE
.idea
*.iml

# Enviroment
.venv/
*.env

src/salary_reader/db/sqlite.db

# Data directory
data/

# Build directory
dist
build

# Pycache
__pycache__

# Database
*.db

# PDF
*.pdf

# Excel
*.xlsx

# Stack dump
bash.exe.stackdump

# Logs
logs/